<%- include('../includes/header') -%>
    <section class="content">
        <div class="titulo_pagina row align-items-center">
            <div class="col-lg-2">
                <div class="btn_close d-md-none d-lg-block">
                    <button type="button" class="close_sidebar">
                        <i class="bi bi-arrows-fullscreen maximize" id="texto_button_sidebar">&nbsp;Maximizar</i>
                    </button>
                </div>
            </div>

            <div class="col-lg-4">
                <h4>Informes</h4>
            </div>

            <div class="col-lg-6 d-md-none d-lg-block">
                <div class="bell_notificaciones"><a href="../notificaciones/notificaciones.php"><i class="bi bi-bell-fill"></i></a></div>
                <div class="dropdown">

                    <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if(user) {%>
                            <p class="nombre_entidad_activa">
                            <%= user.NOMBRE %> <%= user.APELLIDO %>
                            </p><% }%>
                        <br>
                        <p class="cambiar">Cambiar</p>
                        
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Entidad 1</a></li>
                        <li><a class="dropdown-item" href="#">Entidad 2</a></li>
                        <li><a class="dropdown-item" href="#">Entidad 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section_form fluid-container">

            <div class="container_reporte_form ejemplo">
                <h4>Titulo del informe</h4>
                <p>Autor del informe</p>
                <p>Fecha de creación</p>
                <p>Contenido del informe: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique recusandae optio mollitia tempora eius animi dolorum sapiente dicta maxime sequi aperiam labore maiores vel et adipisci temporibus, eveniet sit
                    ut.
                </p>
                <div class="card-body">

                    <button class="btn_green btn_icons"><i class="bi bi-printer-fill"></i></button>
                    <button class="btn_green btn_icons"><i class="bi bi-cloud-arrow-down-fill"></i></button>
                    <button class="btn_green btn_icons"><i class="bi bi-pencil-square"></i></button>

                </div>
            </div>

        </div>

    </section>




    <footer class="mt-5 d-none d-md-block d-lg-none">

        <a href="../legales/politicas.php">Política de privacidad y uso de datos</a>

    </footer>
    <!-- JS boots -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--Js del slide de preguntas del reporte-->
    <script src="../scripts/slide_reporte_spa.js"></script>
    <script src="../scripts/menus.js"></script>
    <script src="../scripts/darkmode.js"></script>
    </body>

    </html>